.about {
  padding: 15rem 0;
  /* height: 100svh; */
  margin-top: 10rem;
}


.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}


.text-side {
  padding-right: 1.5rem;
}

.text-side span {
  -webkit-text-decoration: underline #147efb;
          text-decoration: underline #147efb;
}
.text-side h1 {
  font-size: 2rem;
  font-family: inherit;
  color: var(--clr-accent);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}
.text-side h4 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.text-side p {
  font-size: 1.7rem;
  font-family: inherit;
  color: var(--clr-desc);
  font-weight: 500;
  line-height: 1.5;
}

.bold-text{
  text-decoration: none;
  font-weight: 600;
  color: white;
}
.img-side {
  position: relative;
  padding: 1rem 0;

}
.img-side span {
  width: 19rem;
  height: 19rem;
  position: absolute;
  background-color: white;
  bottom: -33px;
  right: 33px;
  border-radius: 50%;
}

.img-side img {
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  image-rendering: optimizeQuality;
  image-rendering: crisp-edges;
  border-inline-start: 2px solid white;
  border-block-start: 2px solid white;
  border-image-source: radial-gradient(
    circle at top left,
    var(--clr-accent),
    transparent 40%
  );
  border-image-slice: 1;
  padding: 40px;
  border-radius: 10px;
  filter: brightness(110%) contrast(150%)opacity(0.5) saturate(200%);
}
.img-side img:hover {
  filter: brightness(100%) contrast(100%)opacity(0.7) saturate(200%);
}

.img-side__main-img {
  width: 41rem;
  height: 35rem;
  border-radius: 1.7rem;
}
@media (max-width: 1020px) {
  .about {
    padding: 8rem 0;
  }
}@media (max-width: 1020px) {
  .about-content {
    grid-template-columns: 1fr;
    text-align: center;
  }
}@media (max-width: 1020px) {
  .text-side {
    max-width: 54rem;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .text-side {
    padding-right: 0;
  }
}
@media (max-width: 1020px) {
  .img-side span {
    width: 17rem;
    height: 17rem;
    bottom: -3px;
    right: 190px;
  }
}
@media (max-width: 880px) {
  .img-side span {
    bottom: -3px;
    right: 100px;
  }
}
@media (max-width: 750px) {
  .img-side span {
    display: none;
  }
}@media (max-width: 1020px) {
  .img-side span img {
    width: 17rem;
  }
}
@media (max-width: 1020px) {
  .img-side__main-img {
    margin-bottom: 3.5rem;
  }
}
@media (max-width: 460px) {
  .img-side__main-img {
    width: 90%;
    height: auto;
  }
}
@media (max-width: 1020px) {
  .work-emoji {
    bottom: 25px;
    right: 245px;
  }
}
@media (max-width: 880px) {
  .work-emoji {
    bottom: 57px;
    right: 156px;
  }
}
@media (max-width: 750px) {
  .work-emoji {
    display: none;
  }
}