.hero {
  background-color: var(--clr-secondary);
  width: 100%;
  height: 80svh;
  position: relative;
}

.hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.resume a{
  text-decoration: none;
}

.content {
  padding-top:10rem ;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  height: 65rem;
  position: relative;
}


.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;
}
.hero-text h1 {
  font-size: 8rem;
  line-height: 1.2;
  letter-spacing: 3px;
  color: var(--clr-accent);
  font-weight: 800;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.hero-text p {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--clr-text);
  line-height: 1.6;
  
}

.hero-text span {
  display: flex;
  gap: 1.5rem;
  margin: 3rem 0;
  cursor: pointer;
}
.hero-text span a {
  background-color: white;
  padding: 1rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: black;
}

.hero-text span a {
  transition: all 0.2s;
}
.hero-text span a:hover {
  color: var(--clr-accent);
}
.hero-text img {
  position: absolute;
  width: 6rem;
  height: 6rem;
  top: 8.7rem;
  right: 13rem;
}


.hero-img {
  background-image: url("../assets/profile-pic.png");
  width: 35rem;
  height: 35rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid var(--clr-accent);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.skills {
  display: flex;
  font-size: 1.7rem;
  color: #767676;
  align-items: center;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  margin-left: 7.2rem;
  margin-top: 2rem;
  

}

.skills p {
  margin-right: 3rem;
  padding-right: 2rem;
  border-right: 2px solid var(--clr-accent);
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #fff;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.skills ul li {
  cursor: pointer;
}
.skills ul li img {
  width: 11rem;
  height: 5rem;
  transition: all ease-in-out 0.3s;
}
.skills ul li img:hover {
  transform: translateY(-1rem);
}


@media (max-width: 900px) {
  .hero {
    height: auto;
    padding: 1rem 0;
  }
}@media (max-width: 900px) {
  .hero-main {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
    gap: 3rem;
  }
}
@media (max-width: 900px) {
  .content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
    gap: 3rem;
  }
}
@media (min-width: 1600px) {
  .content {
    margin-top: 6rem;
  }
}
@media (min-width: 1900px) {
  .content {
    margin-top: 10rem;
  }
}@media (max-width: 500px) {
  .hero-text h1 {
    font-size: 4rem;
  }
}@media (max-width: 900px) {
  .hero-text p {
    margin-bottom: 5rem;
  }
}@media (max-width: 900px) {
  .hero-text span {
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 4rem;
    gap: 1.6rem;
  }
}
@media (max-width: 900px) {
  .hero-text img {
    right: 3rem;
  }
}
@media (max-width: 500px) {
  .hero-text img {
    top: 6.4rem;
    right: 4rem;
    width: 4.5rem;
    height: 4.5rem;
  }
}
@media (max-width: 400px) {
  .hero-text img {
    right: 3rem;
  }
}
@media (max-width: 380px) {
  .hero-text img {
    right: 3rem;
  }
}
@media (max-width: 375px) {
  .hero-text img {
    right: 1.7rem;
  }
}
@media (max-width: 500px) {
  .hero-img {
    width: 28rem;
    height: 28rem;
  }
}@media (max-width: 900px) {
  .skills {
    position: initial;
    flex-direction: column;
    margin: 0;
  }
}@media (max-width: 900px) {
  .skills p {
    margin-right: 0;
    margin-bottom: 3rem;
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    border-right: none;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}@media (max-width: 900px) {
  .skills ul {
    justify-content: center;
  }
}

.resume{
  display: flex;
  gap: 1.75rem;
  margin-left: 7rem;
  margin-bottom:2rem;
  margin-top: 1rem;
}
.btn{
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: none;
  gap: .75rem;
  font-family: inherit;
  font-weight:500 ;
  transition: all 0.25s ease-in;
  cursor: pointer;
}

.contact-me-btn{
  background-color: rgb(82, 78, 78);
  color: white;
  font-weight: 500;
}

.resume-download-btn:hover{
  background-color:var(--clr-accent);
color: white;
}
.contact-me-btn:hover{
  background-color: white;
  color: black;
}

@media (max-width:900px){
  .resume{
    margin: 0;
  }
}
@media (max-width:758px){
  .resume{
    margin: 0;
  }
}