
@media (max-width: 600px) {
  .project-content {
    text-align: center;
  }
}
@media (max-width: 1020px) {
  .projects-grid .pro__1 {
    height: 75rem;
    flex-direction: column !important;
    gap: 3rem;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .projects-grid .pro__1 {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .projects-grid .pro__img {
    width: 100%;
  }
}
@media (max-width: 1020px) {
  .projects-grid .pro__text {
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .projects-grid .pro__text {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .container {
    padding: 0 1.7rem;
  }
}@media (max-width: 1020px) {
  .contact {
    padding: 8rem 0;
  }
}@media (max-width: 750px) {
  .contact__title {
    text-align: center;
  }
}
@media (max-width: 750px) {
  .contact__icons {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 750px) {
  .contact__icon-box {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .footerc {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    text-align: center;
  }
}